<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://54.200.211.229/BrainHealth" version="1.0.0" viewmodes="maximized">
    <tizen:application id="YWBTfZBJjh.BrainHealth" package="YWBTfZBJjh" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/sensor.pedometer"/>
    <feature name="http://tizen.org/feature/sensor.gyroscope"/>
    <feature name="http://tizen.org/feature/sensor.heart_rate_monitor"/>
    <feature name="http://tizen.org/feature/sensor.photometer"/>
    <feature name="http://tizen.org/feature/sensor.magnetometer"/>
    <feature name="http://tizen.org/feature/sensor.ultraviolet"/>
    <feature name="http://tizen.org/feature/sensor.accelerometer"/>
    <icon src="icon.png"/>
    <name>BrainHealth</name>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/healthinfo"/>
</widget>
