* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:480px;
	width: 360px;
	text-align: center;
}

#username {
	border: 1px solid #808080;
    color: #888;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    overflow: auto;
    width: 90%;
    border-radius: 5px;
    outline: medium none;
    padding: 0px 0px 0px 10px;
    text-shadow: 1px 1px 0px #FFF;
    box-shadow: 0px 0px 5px #888;
}

#submit, #stop {
	color: #FFF;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: #006DCC;
	background-image: linear-gradient(to bottom, #08C, #04C);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	width: 70%;
	height: 42px;
	font-size:30px;
}

.content_text {
	font-weight:bold;
	font-size:48px;
	color:#fff;
}

.content_time {
	font-weight:bold;
	font-size:32px;
	color:#fff;
}
.sensorText {
	font-size:20px;
	color: #fff;
	padding: 0px;
}

#log {
	font-size: 16px;
}